<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t(".title") %></h1>

    <p>I dati personali forniti per l'accesso ai servizi sono trattati secondo quanto specificato nella seguente nota informativa sulla tutela dei dati personali.</p>

    <p><strong>Nota Informativa ai sensi dell'art.13 Decreto Legislativo 196/2003 (Codice in materia di protezione dei dati personali)</strong></p>

    <p>In osservanza di quanto disposto dall'articolo 13 del Decreto Legislativo 30 giugno 2003, n. 196 (Codice in materia di protezione dei dati personali), la Città di Torino, in qualità di Titolare del trattamento dei dati personali, fornisce le seguenti informazioni:</p>

    <ul>
      <li>il trattamento dei Suoi dati personali è finalizzato unicamente allo svolgimento dei servizi offerti dal sito.</li>
      <li>il trattamento sarà effettuato da soggetti appositamente incaricati, con l'utilizzo di procedure informatizzate, in grado di tutelare e garantire la riservatezza dei dati forniti, e nei modi e limiti necessari per perseguire le predette finalità;</li>
      <li>il conferimento dei dati è necessario per lo svolgimento del suddetto servizio; pertanto la loro mancata indicazione comporta l'impossibilità di effettuare il servizio stesso;</li>
      <li>i dati forniti possono essere trattati dal Responsabile e dagli Incaricati;</li>
      <li>i dati stessi non saranno comunicati a terzi;</li>
      <li>gli interessati possono avvalersi dei diritti di cui all'articolo 7 del citato Codice e in particolare il diritto di ottenere la conferma del trattamento dei propri dati personali, di chiederne la rettifica, l'aggiornamento e la cancellazione, se incompleti, erronei o raccolti in violazione della legge, nonché di opporsi al loro trattamento per motivi legittimi, rivolgendo le richieste al Responsabile del trattamento;</li>
      <li>Responsabile del trattamento dei dati è, limitatamente all'accesso ai servizi telematici, il Direttore Responsabile pro tempore del Servizio Telematico Pubblico della Città di Torino, via Meucci 4, 10121 Torino.</li>
    </ul>

    <p><strong>Utilizzo dei cookie</strong></p>
    <p>Per la tipologia di cookie utilizzati dal sito della Città - trattandosi di cookie anonimi tecnici o di sessione che non profilano gli utenti - non è richiesto un consenso preventivo.<br /> 
    Per ulteriori approfondimenti fare riferimento alla <a target="_blank" href="http://www.comune.torino.it/condizioni.shtml#cookie">nota informativa sull'utilizzo dei cookie</a> (cookie policy).
    </p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

