// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.header-coto{background: #575656;}   

header, header .top-bar{background: #fff!important;}

header .locale{float:right;}

.top-bar .top-bar-title a, .top-bar .menu > li a{ color: #204d88;}
.top-bar .menu > li .button {background: #204d88;color: #fff;}
.top-bar .top-bar-title > a, , a.logo{     font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;    font-weight: bold; font-size: 37px;}
.top-bar .top-bar-title > a .irossa, , a.logo .irossa{color:#ca2d2d!important;}
.top-bar-title a img{background: transparent !important;} 

header .external-links{padding-top:9px;}

.subnavigation {background: #204d88;}
.subnavigation a {color: #fff;line-height:45px;}
.subnavigation a:hover, .subnavigation a:focus, .subnavigation a:active{text-decoration:underline;color:#fff;}
.subnavigation a.active  {border-bottom: 2px solid #fff;color:#fff;text-decoration:none; }

.top-bar .menu-icon.dark::after, .top-bar .menu-icon.dark:hover::after {background: #204d88; box-shadow: 0 7px 0 #204d88, 0 14px 0 #204d88;}
 

/*---display small----*/
@media screen and (max-width: 40em) {
    a.logo{ font-size: 27px;}
    a.logo, .top-bar{color: #204d88!important;}
    .top-bar ul {padding-right: 0;}
    .top-bar .menu>li a {background: #204d88;color: #fff; padding-left: 0.625rem;}
    .top-bar .menu>li a, .subnavigation a{line-height:27px; margin-bottom:10px;}
    ul.dropdown{background: #204d88;}
    .row .row {margin-left: 0;margin-right: 0;}

    footer p.info a img{width:80px}
    footer .help_vari{padding-left:0.625rem}

    .verification .verification-step { min-height: 80px;}

    #proposals-list .no-image{height:0}
}

/*---display da medium in su----*/
@media screen and (min-width: 40em) {
    /*codice da inserire*/
}    

/*home welcome*/
figure {margin: 0;}
.figure-card{margin-left:0;margin-right:0;margin-top:0;position:relative}
.figure-card.pdf::after{background:url(/assets/icon_pdf_white-edab63ab7325a6fceb2d45ed0996917b46e96a6a719000fb5298b17452438349.png);
content:'';height:48px;position:absolute;right:10px;top:10px;width:48px}
.figure-card a h3,.figure-card a .title{color:#fff}
.figure-card a:hover{text-decoration:none}
.figure-card figcaption{bottom:0;color:#fff;font-family:'Franklin Gothic' !important;font-size:2.25rem;line-height:2.25rem;text-transform:uppercase;padding:0.375rem 0.75rem;position:absolute;width:100%}.figure-card figcaption h3,.figure-card figcaption .title{font-family:'Franklin Gothic' !important;font-size:2.25rem;line-height:2.25rem}
.figure-card figcaption span{background:#fff;border-radius:0.25rem;color:#000;display:inline;font-size:1.0625rem;padding:0.25rem 0.5rem}

p {
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
}


@media screen and (max-width: 39.9375em){.hide-for-small-only{display:none !important}}
@media screen and (max-width: 0em), screen and (min-width: 40em){.show-for-small-only{display:none !important}}