<%= link_to t("admin.dashboard.index.back", org: setting["org_name"]), root_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("moderation.dashboard.index.title") %></h2>

<p>Da qui puoi moderare il sistema, mediante le seguenti azioni:<p>

<div class="small-12 medium-9">
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Proposte / Dibattiti / Commenti</a>
      <div class="accordion-content" data-tab-content>
        <p>Quando un utente segna in una Proposta/Debattito/Commento l'opzione di "denuncia come inappropriato", apparirà in questo elenco. Di ciascuna voce appariranno <em>titolo, data, numero di denunce</em> (il numero di utenti diversi che hanno marcato l'opzione di denuncia) e il <em>testo della Proposta/Debattito/Commento</em>.</p>

        <p>Alla destra di ciascun elemento è presente una casella che possiamo spuntare per selezionare dalla lista ciò che vogliamo. Dopo avere selezionato uno o più elementi, ci spostiamo al fondo della pagina e scegliamo fra i <strong>tre pulsanti per innescare l'operazione desiderata</strong>:</p>

        <ul>
          <li><strong>Nascondi</strong>: gli elementi selezionati non saranno più visibili sul sito web pubblico.</li>
          <li><strong>Blocca autori</strong>: la conseguenza sarà che l'autore di tale elemento non potrà più accedere al sito web, e che inoltre todos tutte le Proposte/Dibattiti/Commenti appartenenti a tale utente non saranno più mostrate sul sito web.</li>
          <li><strong>Segna come esaminati</strong> quando si considera che tali elementi non debbano essere moderati, che il contenuto è corretto, e di conseguenza non debbano più essere mostrati nell'elenco degli elementi inadeguati.</li>
        </ul>

        <p>Per rendere più semplice la gestione, in alto è presente un <strong>filtro</strong> con le opzioni:</p>

        <ul>
          <li><strong>In sospeso</strong>: le Proposte/Dibattiti/Commenti che non sono ancora stati oggetto delle azioni di "nascondi", "blocca" o "segna come esaminati", e pertanto dovrebbero ancora essere esaminati.</li>
          <li><strong>Tutti</strong>: mostrando tutte le Proposte/Dibattiti/Commenti del sito web, e no solamente quelli segnati come inadeguati.</li>
          <li><strong>Segnati come esaminati</strong>: quelli che un moderatore ha segnato come esaminati e pertanto paiono corretti.</li>
        </ul>

        <p><em>Si raccomanda di controllare periodicamente la sezione "in sospeso".</em></p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Blocca utenti</a>
      <div class="accordion-content" data-tab-content>
        <p>Uno strumento di ricerca permette cercare qualsiasi utente introducendo il <em>nome utente o l'indirizzo di posta elettronica</em>, per poi bloccarlo una volta trovato. Bloccandolo, <strong>l'utente non avrà più accesso al sito web</strong>, e tutte le sue Proposte/Dibattiti/Commenti saranno nascosti e non pià visibili sul sito web.</p>
      </div>
    </li>
  </ul>
</div>
